.about-body {
  display: flex;
  justify-content: space-around;
  border-color: #fff;
}

.about-body > .about {
  border-color: #fff;
  margin: 10px;
  padding: 15px;
}

.about h2 {
  font-size: 25px;
}

.about p {
  font-size: 13px;
}

.about-img{
  height: auto;
  width: auto;
  border-radius: 8px;
}

.about-img img{
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 10px;  
}

@media (max-width: 1200px) {
    .about-img img {
      display: none;
    }

    .about{
        text-align: center;
    }
  }
  
/* about nav */
hr {
  border: none; 
  border-top: 1px solid #000; 
}

.about-nav {
  display: flex;
  justify-content: space-between;
}

.about-nav .navbar-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 13px;
  transition: 0.4s all;
}

.about-nav .navbar-item:hover {
  color: orange;
  cursor: pointer;
}

.navbar-item {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 15px;
}

.dropdown {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
}

.dropdown-item {
  padding: 5px;
}

/* items */

.block2 {
  display: block;
  margin: auto;
  padding-right: 100px;
}

.block2 > div {
  display: flex;
  flex-direction: column;
}

/*Progress Bar by skills*/
.title {
  font-size: 12px;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
}

/*Windows*/
#myBar {
  width: 90%;
  height: 13px;
  background-color: orange;
  text-align: center;
  line-height: 13px;
  color: white;
  border-radius: 5px;
}

/*MAC*/
#myBar1 {
  width: 70%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*VScode*/
#myBar2 {
  width: 90%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*InteeliJ*/
#myBar3 {
  width: 60%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*Pycharm*/
#myBar4 {
  width: 70%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*Sublim Text*/
#myBar5 {
  width: 80%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/* PL */
/*Java*/
#myBar6 {
  width: 60%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*Python*/
#myBar7 {
  width: 70%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*Js*/
#myBar8 {
  width: 50%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*Html*/
#myBar9 {
  width: 80%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*Css*/
#myBar10 {
  width: 70%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*Spring*/
#myBar11 {
  width: 50%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*Django*/
#myBar12 {
  width: 40%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*sql*/
#myBar13 {
  width: 70%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}

/*git*/
#myBar14 {
  width: 70%;
  height: 15px;
  background-color: orange;
  text-align: center;
  line-height: 15px;
  color: white;
  border-radius: 5px;
}


/*end of progress bar*/