.body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.container{
  width: 100%;
  max-width: 650px;
  background: rgba(0,0,0,0.5);
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
  box-sizing: border-box;
}

.heading{
  font-family: 'Fasthand', cursive;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label{
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.msg-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 15px;
}

.msg-box label {
  text-align: center;
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}
.msg-box textarea{
  height: 40px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.form-submit-btn {
  margin-top: 40px;
}

.form-submit-btn input {
  cursor: pointer;
  display: flex;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgba(209,209,209);
  background: rgba(63, 114, 76, 0.7);
}
