body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  color: #FAF8FF;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  opacity: 0.75;
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s all;
}

.navbar .menu a:hover {
  color: orange;
  cursor: pointer;
}

.logo {
  float: right;
  margin-right: 20px;
  color: orange;
  font-weight: bold;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  transition: 0.4s all;
}

.logo:hover{
  color: black;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 30px;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: black;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .logo {
    float: none;
    margin: 0 20px;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  
  .menu-icon.show {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

/* Overlay navbar */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #FAF8FF;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px; 
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay .closebtn {
  top: 20px;
  right: 45px;
  }
}